# Acquire credentials from https://my.telegram.org
[noxx]
api_id = 123456
api_hash = 123456abcdef123456abcdef
download_location = 'LOCATION OF WHERE FILES SHOULD BE DOWNLOADED'
openweather_api = "OPENWEATHER API KEY"
sticker_pack_name = "NAME OF A KANG PACK. Should start with an alphabet and should not have any special characters except '_'"
